body{
  background: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.App h1 {
  color: darkred;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
}

.App img {
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

.intro {
  /* border: black 1px solid;
  height: 300px;
  width: 500px; */
  /* border-radius: 30px; */
  /* border-radius: 50%; */
  /* margin-left: 500px; */
  /* margin-top: 100px; */
  color: maroon;
  /* padding-top: -100px; */
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 260px;
  border: black 1px solid;
  border-radius: 50%;
  width: 900px;
  height: 500px;
  background: url("https://images.pexels.com/photos/952356/pexels-photo-952356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.intro h1{
  margin: 0;
  padding-top: -20px;
}
.intro h2, h3, p{
  margin: 0;
}

/* .intro h3, p {
  padding-top: 50px;
} */

.intro p {
  max-width: 60vw;
  align-self: center;
  color:darkred;
}

.intro h3 {
  color: orange;
}

/* .intro:hover {
  transform: scale(1.1);
  opacity: 0.9;
} */

@media (prefers-reduced-motion: no-preference) {
}


