.er-form form {
  border: black 1px solid;
  border-radius: 20px;
  margin:auto;
  background-color: rgb(248, 248, 177);
  height: auto;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.er-btn {
  background-color: rosybrown;
  height: 30px;
  width: auto;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
}

.er-btn:hover {
  background-color: maroon;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .er-form form {
    height: auto;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}