.Recipes h1 {
  color: darkred;
  text-align: center;
  float: none;
}

.Recipes h3{
  color: darkred;
  margin: 0;
}

.Recipes img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 1px solid black;
  margin: 0;
}

.recipe-container{
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.recipe-container a{
  padding-right: 40px;
  padding-top: 20px;
}

.recipe-container a:hover{
  transform: scale(1.1);
}

.Recipes a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rl-link-btn button {
  height: auto;
  width: auto;
  font-size: large;
  background-color: lavender;
  border-radius: 5px;
}

.rl-link-btn button:hover{
  cursor: pointer;
  background-color: rgb(243, 213, 213);
}

@media only screen and (max-width: 700px) {
  .Recipes h1 {
    font-size: medium;
  }

  .recipe-container{
    display: flex;
    flex-direction: column;
  }

  .recipe-container a{
    padding-top: 10px;
  }

  .Recipes img {
    height: 100px;
    width: 100px;
  }

  .Recipes h3{
    font-size: medium;
  }

  .rl-link-btn button {
    height: auto;
    width: auto;
    font-size: small;
  }

}
