.rd-pt-cb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: darkred;
  font-size: large;
  align-content: center;
}

.rd-main-details {
  border: black 1px solid;
  height: auto;
  width: 900px;
  border-radius: 20px;
  margin:auto;
  background-color: rgb(248, 248, 177);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rd-main-details img {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  align-content: center;
}

.rd-mod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: darkred;
  /* font-size: large; */
}

.rd-like {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rd-btns button{
  background-color: rgb(247, 193, 193);
  height: 30px;
  border-radius: 20px;
}

.rd-btns button:hover{
  cursor: pointer;
  background-color: rgb(160, 47, 47);
}

.rd-cont {
  display: flex;
  flex-direction: column;
  /* padding-right: 30px; */
  align-content: center;
}
